img {
    height:200px;
}

.favmovie {
    margin-bottom:;
}

p {
    color:white;
}

h1 {
    padding:19px;
}


#intro {
    height:auto;
    padding-bottom:20px;
}

#movies {
    padding-top:auto;
    padding-bottom:auto;
}

#newyork {
    padding-top:10px;
    padding-bottom:10px;
}

#music {
    padding-top:10px;
    padding-bottom:10px;
}

footer p{
    color:black;
    font-size:11px;
    text-align:center;
    margin:0px;
}